@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --primary-color: #b73030;
  --secondary-color: #0f2c66;
  --primary-font-family: "Roboto";
  --secondary-font-family: "Oswald";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* increases smoothness of scrolling */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

body {
  /* padding: 0;
  margin: 0; */
  font-family: var(--primary-font-family), sans-serif;
  position: relative;
  color: #393c3e;
  font-size: 14px;
}

/* h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
} */

p {
  line-height: 27px;
}
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  /* padding: 0; */
}
